{
  "plugins": ["@stylistic/stylelint-plugin"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
    "@stylistic/indentation": 2,
    "@stylistic/string-quotes": "double",
    "@stylistic/color-hex-case": "lower",
    "max-nesting-depth": 3,
    "no-descending-specificity": true
  }
}
