@use "../variables";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  margin: 0;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: variables.$uoc-corporate;
  background-color: variables.$uoc-bg;
}

.uoc-container {
  max-width: 800px;
  padding: 2rem;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),
    0 2px 4px -1px rgb(0 0 0 / 6%);
}

.uoc-logo {
  display: block;
  max-width: 200px;
  height: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;

  @media (min-width: variables.$mq-min-width) {
    max-width: none;
  }
}

.uoc-title {
  font-family: variables.$font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: variables.$uoc-corporate;

  @media (min-width: variables.$mq-min-width) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
