<header class="header">
  <div class="header__container">
    <h1 class="header__title">
      <i class="fas fa-landmark"></i> Toledo
    </h1>
    <nav class="header__nav">
      <ul class="nav__list">
        <li><a href="#historia" class="nav__link">Historia</a></li>
        <li><a href="#lugares" class="nav__link">Lugares</a></li>
        <li><a href="#gastronomia" class="nav__link">Gastronomía</a></li>
        <li><a href="#contacto" class="nav__link">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
