/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import dependencies
 */
@use "dependencies";

/**
 * Import theme and mixins
 */
@use "theme";
@use "mixins";

/**
 * Import layouts
 */
@use "layouts/base";
@use "layouts/header";
@use "layouts/hero";
@use "layouts/historia";
@use "layouts/lugares";
@use "layouts/gastronomia";
@use "layouts/contacto";
@use "layouts/footer";

/**
 * Do NOT include anything else in this file!
 */
